#vidgrid{
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
      /* height: 268px; */
}
video{
  height: 300px;
  width: 400px;
  object-fit: cover;
}
.main {
  height: 100vh;
  display: flex;
}

.main_left {
  flex: 0.8;
}

.main_right {
  flex: 0.2;
}

.main_videos {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
