body{
  margin: 0;
  padding: 0;
}
/* #vidgrid{
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
    background-color: black;
      /* height: 268px; }*/
video{
  height: 300px;
  width: 400px;
  object-fit: cover;
}
.main {
  height: 100vh;
  display: flex;
  align-items: center;
}

.main_videos {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.main_controls{
  display: flex;
  background-color: black;
  justify-content: space-between;
  color: antiquewhite;
  padding: 5px;
}

.main_controls_block{
  display: flex;
}

.main_controls_button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main_controls_button i {
  font-size: 24px;
}

.main_controls_buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.unmute, .stop {
  color: crimson;
}
